check4.txt
[{"id":"4b71366f.8ea638","type":"tab","label":"Flow 4","disabled":false,"info":""},{"id":"e37aaee4.874de","type":"http in","z":"4b71366f.8ea638","name":"","url":"/pin4","method":"get","upload":false,"swaggerDoc":"","x":110,"y":380,"wires":[["6404a837.1c2c58"]]},{"id":"fbd240b1.d834c","type":"rpi-gpio in","z":"4b71366f.8ea638","name":"GPIO4","pin":"7","intype":"up","debounce":"25","read":true,"x":160,"y":640,"wires":[["e42d76ca.383468"]]},{"id":"e42d76ca.383468","type":"function","z":"4b71366f.8ea638","name":"Set GPIO","func":"global.set(\"GPIO\", msg.payload)\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":600,"wires":[["87a8c214.1aaa5"]]},{"id":"6404a837.1c2c58","type":"function","z":"4b71366f.8ea638","name":"Get GPIO","func":"msg.payload = global.get(\"GPIO\");\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":380,"wires":[["87a8c214.1aaa5","c85449a0.9deaf8"]]},{"id":"c85449a0.9deaf8","type":"http response","z":"4b71366f.8ea638","name":"","statusCode":"","headers":{},"x":640,"y":380,"wires":[]},{"id":"87a8c214.1aaa5","type":"debug","z":"4b71366f.8ea638","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":660,"y":540,"wires":[]}]