check3.txt
[{"id":"1fa3ec6f.efdfb4","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"5ab40192.71327","type":"inject","z":"1fa3ec6f.efdfb4","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":100,"y":400,"wires":[["79d3fe4e.3fa1"]]},{"id":"79d3fe4e.3fa1","type":"function","z":"1fa3ec6f.efdfb4","name":"Payload","func":"msg.headers={\n    deviceKey: \"pIvbcebyniUgtPDX\"\n};\nmsg.payload= \"Temperature,,25.3\";\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":440,"wires":[["f898beed.3b73f"]]},{"id":"f898beed.3b73f","type":"http request","z":"1fa3ec6f.efdfb4","name":"","method":"POST","ret":"txt","url":"https://api.mediatek.com/mcs/v2/devices/DG0SgWPy/datapoints.csv","tls":"","x":320,"y":580,"wires":[["7ac1baa0.649684","74873ff9.08577"]]},{"id":"7ac1baa0.649684","type":"http response","z":"1fa3ec6f.efdfb4","name":"","statusCode":"","headers":{},"x":580,"y":520,"wires":[]},{"id":"74873ff9.08577","type":"debug","z":"1fa3ec6f.efdfb4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":580,"y":620,"wires":[]}]
