check5.txt
[{"id":"99aea8e6.025e68","type":"tab","label":"Flow 6","disabled":false,"info":""},{"id":"bfcd5232.2999e","type":"http in","z":"99aea8e6.025e68","name":"Set GPIO5","url":"/setgpio5","method":"get","upload":false,"swaggerDoc":"","x":70,"y":540,"wires":[["90392dd5.4e561","208e7b58.d0e254"]]},{"id":"90392dd5.4e561","type":"function","z":"99aea8e6.025e68","name":"Set to 1","func":"msg.payload = 1;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":520,"wires":[["8640a660.aae2a8"]]},{"id":"8640a660.aae2a8","type":"rpi-gpio out","z":"99aea8e6.025e68","name":"","pin":"29","set":"","level":"0","freq":"","out":"out","x":460,"y":460,"wires":[]},{"id":"208e7b58.d0e254","type":"function","z":"99aea8e6.025e68","name":"Return Status","func":"msg.payload = \"GPIO5 set to HIGH\";\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":640,"wires":[["5f2eab42.197f74","9193d9de.6745b8"]]},{"id":"5f2eab42.197f74","type":"http response","z":"99aea8e6.025e68","name":"","statusCode":"","headers":{},"x":750,"y":340,"wires":[]},{"id":"9193d9de.6745b8","type":"debug","z":"99aea8e6.025e68","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":740,"y":540,"wires":[]},{"id":"13cf8ca7.52fce3","type":"http in","z":"99aea8e6.025e68","name":"Clear GPIO5","url":"/clear5","method":"get","upload":false,"swaggerDoc":"","x":80,"y":340,"wires":[["65cad5e.350192c","43c7fb5c.b00bb4"]]},{"id":"65cad5e.350192c","type":"function","z":"99aea8e6.025e68","name":"Clear to 0","func":"msg.payload = 0;\nreturn msg;","outputs":1,"noerr":0,"x":290,"y":400,"wires":[["8640a660.aae2a8"]]},{"id":"43c7fb5c.b00bb4","type":"function","z":"99aea8e6.025e68","name":"Return Status","func":"msg.payload = \"GPIO5 set to LOW\";\nreturn msg;","outputs":1,"noerr":0,"x":370,"y":300,"wires":[["5f2eab42.197f74","9193d9de.6745b8"]]}]