ledcontrol.txt
[{"id":"f62d7901.9abbf8","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"1a2112b.fc565ed","type":"switch","z":"f62d7901.9abbf8","name":"input is 1","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":220,"y":340,"wires":[["62254d3.df837b4"],["9438e99d.509a28"]]},{"id":"62254d3.df837b4","type":"change","z":"f62d7901.9abbf8","name":"change to 0","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":450,"y":280,"wires":[["444895b2.6d319c"]]},{"id":"9438e99d.509a28","type":"change","z":"f62d7901.9abbf8","name":"change to 1","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":360,"wires":[["444895b2.6d319c"]]},{"id":"444895b2.6d319c","type":"rpi-gpio out","z":"f62d7901.9abbf8","name":"LED","pin":"7","set":true,"level":"0","freq":"","out":"out","x":700,"y":340,"wires":[]},{"id":"a5909480.df3c28","type":"debug","z":"f62d7901.9abbf8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":420,"y":200,"wires":[]},{"id":"6f720361.0623fc","type":"rpi-gpio in","z":"f62d7901.9abbf8","name":"bbb","pin":"11","intype":"up","debounce":"25","read":true,"x":60,"y":280,"wires":[["1a2112b.fc565ed","a5909480.df3c28"]]}]