temper.txt
[{"id":"e6b882f9.b274e","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"f35d7f7d.cf63c","type":"inject","z":"e6b882f9.b274e","name":"","topic":"","payload":"","payloadType":"date","repeat":"5","crontab":"","once":true,"onceDelay":0.1,"x":250,"y":300,"wires":[["50e7c0ab.09a14"]]},{"id":"50e7c0ab.09a14","type":"function","z":"e6b882f9.b274e","name":"Payload","func":"msg.headers={\n        deviceKey: \"pIvbcebyniUgtPDX\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":470,"y":300,"wires":[["3f5c11f6.5be87e"]]},{"id":"3f5c11f6.5be87e","type":"http request","z":"e6b882f9.b274e","name":"","method":"GET","ret":"txt","url":"http://api.mediatek.com/mcs/v2/devices/DG0SgWPy/datachannels/Temperature/datapoints.csv","tls":"","x":680,"y":300,"wires":[["aa8591b8.85f67","60a09a7e.50a8a4"]]},{"id":"60a09a7e.50a8a4","type":"http response","z":"e6b882f9.b274e","name":"","statusCode":"","headers":{},"x":830,"y":200,"wires":[]},{"id":"aa8591b8.85f67","type":"debug","z":"e6b882f9.b274e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":360,"wires":[]}]